<div class="row justify-content-center">
    <div class="col-auto">
        <h2 class="text-center">Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row align-items-center">
    <div class="row align-items-center">
        <h3 class="text-center">Create a new Blog Post:</h3>

        <form class="form new-blog-form">
            <div class="form-group row align-items-center">
                <label for="blog-post">New Post:</label>
                <input class="form-input" type="text" id="blog-post" name="blog-post" />
            </div>
            <div class="form-group row align-items-center">
                <label for="blog-desc">Description</label>
                <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
            </div>
            <div class="form-group row align-items-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

 {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Your Blog Posts:</h3>

    {{#each blogs as |blog|}}
  <div class="row align-items-center" hidden="hidden">
    <div class="row align-items-center">
        <h3 class="text-center">Edit Post:</h3>

        <form class="form new-blog-form">
            <div class="form-group row align-items-center">
                <label for="edit-post">Title:</label>
                <input class="form-input" type="text" id="edit-post" name="edit-post" placeholder="{{blog.name}}"/>
            </div>
            <div class="form-group row align-items-center">
                <label for="edit-desc">Description</label>
                <textarea class="form-input" id="edit-desc" name="edit-desc" placeholder="{{blog.description}}"></textarea>
            </div>
            <div class="form-group row align-items-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
    <div class="row border border-2 border-secondary rounded">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.name}}</a></h4>
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>